Repository zscaler/zscaler-sdk-go: changes, and which Codecov flags are due for each by the changed paths.
All: unit, unit-zpa, unit-zia, unit-zdx, unit-zcc, unit-ztw, unit-zwa, unit-zidentity, unit-oneapi, zia, zpa, zdx, zcc, ztw, zidentity

fix: Added New ZIA Cloud App Control Endpoint allAvailableActions (#453)
  CHANGELOG.md
  docs/guides/release-notes.md
  tests/unit/zia/services/cloudappcontrol_test.go
  tests/unit/zia/services/pacfiles_test.go
  zscaler/zia/services/cloudappcontrol/cloudappcontrol.go
  zscaler/zia/services/cloudappcontrol/cloudappcontrol_test.go
  zscaler/zia/services/pacfiles/pacfiles.go
Due: unit, unit-zia, unit-oneapi, zia

feat: Added New ZPA Policy Group Set and Federation Partners Endpoints
  CHANGELOG.md
  go.mod
  go.sum
  zscaler/zpa/services/appservercontroller/zpa_app_server_controller.go
  zscaler/zpa/services/b2b_policy_controller/b2b_policy_controller.go
  zscaler/zpa/services/browser_access_groups/browser_access_groups.go
  zscaler/zpa/services/customer_domain_controller/customer_domain_controller.go
  zscaler/zpa/services/federated_application/federated_application.go
  zscaler/zpa/services/one_identity_controller/one_identity_controller.go
  zscaler/zpa/services/policy_group/policy_group.go
  zscaler/zpa/services/policy_group_rule/policy_group_rule.go
  zscaler/zpa/services/policy_group_set/policy_group_set.go
  zscaler/zpa/services/policycommon/policycommon.go
  zscaler/zpa/services/policysetcontrollerv2/policysetcontrollerv2.go
Due: unit, unit-zpa, unit-oneapi, zpa

feat: Added New ZPA Policy Group Set and Federation Partners Endpoints (#456)
  CHANGELOG.md
  go.mod
  go.sum
  zscaler/zpa/services/appservercontroller/zpa_app_server_controller.go
  zscaler/zpa/services/b2b_policy_controller/b2b_policy_controller.go
  zscaler/zpa/services/browser_access_groups/browser_access_groups.go
  zscaler/zpa/services/customer_domain_controller/customer_domain_controller.go
  zscaler/zpa/services/federated_application/federated_application.go
  zscaler/zpa/services/one_identity_controller/one_identity_controller.go
  zscaler/zpa/services/policy_group/policy_group.go
  zscaler/zpa/services/policy_group_rule/policy_group_rule.go
  zscaler/zpa/services/policy_group_set/policy_group_set.go
  zscaler/zpa/services/policycommon/policycommon.go
  zscaler/zpa/services/policysetcontrollerv2/policysetcontrollerv2.go
Due: unit, unit-zpa, unit-oneapi, zpa

fix: Added New Cloud App Control Policy Attribute promptCaptureEnabled
  CHANGELOG.md
  docs/guides/release-notes.md
  go.mod
  go.sum
  zscaler/oneapiclient.go
  zscaler/zia/services/cloudappcontrol/cloudappcontrol.go
Due: unit, unit-zia, unit-oneapi, zia

fix: Added New Cloud App Control Policy Attribute promptCaptureEnabled (#459)
  CHANGELOG.md
  docs/guides/release-notes.md
  go.mod
  go.sum
  zscaler/oneapiclient.go
  zscaler/zia/services/cloudappcontrol/cloudappcontrol.go
Due: unit, unit-zia, unit-oneapi, zia

fix(ziam): route ZIdentity through OneAPI and complete its service packages
  CHANGELOG.md
  docs/guides/release-notes.md
  examples/zidentity/users/get_user_groups.md
  tests/unit/common/oneapi.go
  tests/unit/common/paths.go
  tests/unit/common/testutils.go
  tests/unit/ziam/services/api_clients_test.go
  tests/unit/ziam/services/common_test.go
  tests/unit/ziam/services/groups_test.go
  tests/unit/ziam/services/resource_servers_test.go
  tests/unit/ziam/services/user_entitlement_test.go
  tests/unit/ziam/services/users_test.go
  zscaler/oneapiclient.go
  zscaler/oneapiconfig.go
  zscaler/ziam/services/api_clients/api_clients.go
  zscaler/ziam/services/common/common.go
  zscaler/ziam/services/groups/groups.go
  zscaler/ziam/services/groups/groups_test.go
  zscaler/ziam/services/resource_servers/resource_servers.go
  zscaler/ziam/services/user_entitlement/user_entitlement.go
  zscaler/ziam/services/users/users.go
  zscaler/ziam/sweep/main_test.go
  zscaler/zid/services/user_entitlement/user_entitlement.go
  zscaler/zid/services/users/users.go
Due: unit, unit-oneapi

fix(ziam): route ZIdentity through OneAPI and complete its service packages (#460)
  CHANGELOG.md
  docs/guides/release-notes.md
  examples/zidentity/users/get_user_groups.md
  tests/unit/common/oneapi.go
  tests/unit/common/paths.go
  tests/unit/common/testutils.go
  tests/unit/ziam/services/api_clients_test.go
  tests/unit/ziam/services/common_test.go
  tests/unit/ziam/services/groups_test.go
  tests/unit/ziam/services/resource_servers_test.go
  tests/unit/ziam/services/user_entitlement_test.go
  tests/unit/ziam/services/users_test.go
  zscaler/oneapiclient.go
  zscaler/oneapiconfig.go
  zscaler/ziam/services/api_clients/api_clients.go
  zscaler/ziam/services/common/common.go
  zscaler/ziam/services/groups/groups.go
  zscaler/ziam/services/groups/groups_test.go
  zscaler/ziam/services/resource_servers/resource_servers.go
  zscaler/ziam/services/user_entitlement/user_entitlement.go
  zscaler/ziam/services/users/users.go
  zscaler/ziam/sweep/main_test.go
  zscaler/zid/services/user_entitlement/user_entitlement.go
  zscaler/zid/services/users/users.go
Due: unit, unit-oneapi

fix: Fixed Zidentity User and Group resources, and ZPA Application Segment Inspection PUT function
  CHANGELOG.md
  docs/guides/release-notes.md
  go.mod
  tests/unit/ziam/services/users_test.go
  zscaler/ziam/services/users/users.go
  zscaler/zpa/services/applicationsegmentinspection/zpa_application_segment_inspection.go
Due: unit, unit-zpa, unit-oneapi, zpa

fix: Updated go.mod
  go.mod
  go.sum
Due: none

fix: Updated GitHub Actions GO Version to v1.26
  .github/workflows/release.yml
  .github/workflows/unit-tests.yml
  .github/workflows/zcc-test.yml
  .github/workflows/zdx-test.yml
  .github/workflows/zia-test.yml
  .github/workflows/zid.yml
  .github/workflows/zpa-test.yml
  .github/workflows/ztw-test.yml
Due: none

fix: Fixed Zidentity User and Group resources, and ZPA Application Segment Inspection PUT function (#464)
  .github/workflows/release.yml
  .github/workflows/unit-tests.yml
  .github/workflows/zcc-test.yml
  .github/workflows/zdx-test.yml
  .github/workflows/zia-test.yml
  .github/workflows/zid.yml
  .github/workflows/zpa-test.yml
  .github/workflows/ztw-test.yml
  CHANGELOG.md
  docs/guides/release-notes.md
  go.mod
  go.sum
  tests/unit/ziam/services/users_test.go
  zscaler/ziam/services/users/users.go
  zscaler/zpa/services/applicationsegmentinspection/zpa_application_segment_inspection.go
Due: unit, unit-zpa, unit-oneapi, zpa

fix: Added New Search criteria for ZPA SCIM Group iamIdpID and iamIDPName
  CHANGELOG.md
  docs/guides/release-notes.md
  tests/unit/zpa/services/scimgroup_test.go
  zscaler/zpa/services/scimgroup/zpa_scim_group.go
Due: unit, unit-zpa, unit-oneapi, zpa

fix: Added New Search criteria for ZPA SCIM Group iamIdpID and iamIDPName (#465)
  CHANGELOG.md
  docs/guides/release-notes.md
  tests/unit/zpa/services/scimgroup_test.go
  zscaler/zpa/services/scimgroup/zpa_scim_group.go
Due: unit, unit-zpa, unit-oneapi, zpa

fix: Serialized ZPA policy rule writes across the v1 and v2 policy set controllers
  CHANGELOG.md
  docs/guides/release-notes.md
  zscaler/zpa/services/common/common.go
  zscaler/zpa/services/policysetcontroller/policysetcontroller.go
  zscaler/zpa/services/policysetcontrollerv2/policysetcontrollerv2.go
Due: unit, unit-zpa, unit-oneapi, zpa

fix: Serialized ZPA policy rule writes across the v1 and v2 policy set controllers (#466)
  CHANGELOG.md
  docs/guides/release-notes.md
  zscaler/zpa/services/common/common.go
  zscaler/zpa/services/policysetcontroller/policysetcontroller.go
  zscaler/zpa/services/policysetcontrollerv2/policysetcontrollerv2.go
Due: unit, unit-zpa, unit-oneapi, zpa

fix: Fixed ZIA attribute to reflect API changes.
  CHANGELOG.md
  docs/guides/release-notes.md
  zscaler/zia/services/end_user_notification/end_user_notification.go
Due: unit, unit-zia, unit-oneapi, zia

fix: Fixed ZIA attribute to reflect API changes. (#467)
  CHANGELOG.md
  docs/guides/release-notes.md
  zscaler/zia/services/end_user_notification/end_user_notification.go
Due: unit, unit-zia, unit-oneapi, zia

fix: Refresh OneAPI token on 403 session errors, preserve unrecognised error bodies, and mask credentials in debug logs
  CHANGELOG.md
  CLAUDE.md
  docs/guides/release-notes.md
  docs/guides/troubleshooting.md
  logger/logger.go
  logger/logger_test.go
  zscaler/errorx/errors.go
  zscaler/errorx/errors_test.go
  zscaler/oneapiclient.go
  zscaler/oneapiconfig.go
  zscaler/oneapiconfig_session_test.go
Due: unit, unit-oneapi

fix: Refresh OneAPI token on 403 session errors, preserve unrecognised error bodies, and mask credentials in debug logs (#468)
  CHANGELOG.md
  CLAUDE.md
  docs/guides/release-notes.md
  docs/guides/troubleshooting.md
  logger/logger.go
  logger/logger_test.go
  zscaler/errorx/errors.go
  zscaler/errorx/errors_test.go
  zscaler/oneapiclient.go
  zscaler/oneapiconfig.go
  zscaler/oneapiconfig_session_test.go
Due: unit, unit-oneapi

fix: Remove access token prefix from OneAPI debug log messages
  CHANGELOG.md
  docs/guides/release-notes.md
  zscaler/oneapiclient.go
  zscaler/oneapiconfig.go
Due: unit, unit-oneapi

fix: Remove access token prefix from OneAPI debug log messages (#469)
  CHANGELOG.md
  docs/guides/release-notes.md
  zscaler/oneapiclient.go
  zscaler/oneapiconfig.go
Due: unit, unit-oneapi

fix: Added ZPA segment group v2 delta update and fixed stale cached reads after v2 writes
  CHANGELOG.md
  cache/cache.go
  cache/cache_test.go
  docs/guides/release-notes.md
  tests/unit/zpa/services/segmentgroup_test.go
  zscaler/oneapiclient.go
  zscaler/oneapiconfig.go
  zscaler/oneapiconfig_cache_test.go
  zscaler/zpa/services/segmentgroup/zpa_segment_group.go
  zscaler/zpa/v2_client.go
Due: unit, unit-zpa, unit-oneapi, zpa

fix: Added ZPA segment group v2 delta update and fixed stale cached reads after v2 writes (#470)
  CHANGELOG.md
  cache/cache.go
  cache/cache_test.go
  docs/guides/release-notes.md
  tests/unit/zpa/services/segmentgroup_test.go
  zscaler/oneapiclient.go
  zscaler/oneapiconfig.go
  zscaler/oneapiconfig_cache_test.go
  zscaler/zpa/services/segmentgroup/zpa_segment_group.go
  zscaler/zpa/v2_client.go
Due: unit, unit-zpa, unit-oneapi, zpa

Path conditions:
  unit: any of: zscaler/, but not: vendor/**/*, **/*_test.go, **/test/**/*, tests/**/*, local_test/**/*, examples/**/*
  unit-zpa: any of: zscaler/zpa/, but not: vendor/**/*, **/*_test.go, **/test/**/*, tests/**/*, local_test/**/*, examples/**/*
  unit-zia: any of: zscaler/zia/, but not: vendor/**/*, **/*_test.go, **/test/**/*, tests/**/*, local_test/**/*, examples/**/*
  unit-zdx: any of: zscaler/zdx/, but not: vendor/**/*, **/*_test.go, **/test/**/*, tests/**/*, local_test/**/*, examples/**/*
  unit-zcc: any of: zscaler/zcc/, but not: vendor/**/*, **/*_test.go, **/test/**/*, tests/**/*, local_test/**/*, examples/**/*
  unit-ztw: any of: zscaler/ztw/, but not: vendor/**/*, **/*_test.go, **/test/**/*, tests/**/*, local_test/**/*, examples/**/*
  unit-zwa: any of: zscaler/zwa/, but not: vendor/**/*, **/*_test.go, **/test/**/*, tests/**/*, local_test/**/*, examples/**/*
  unit-zidentity: any of: zscaler/zidentity/, but not: vendor/**/*, **/*_test.go, **/test/**/*, tests/**/*, local_test/**/*, examples/**/*
  unit-oneapi: any of: zscaler/, but not: vendor/**/*, **/*_test.go, **/test/**/*, tests/**/*, local_test/**/*, examples/**/*
  zia: any of: zscaler/zia/, but not: vendor/**/*, **/*_test.go, **/test/**/*, tests/**/*, local_test/**/*, examples/**/*
  zpa: any of: zscaler/zpa/, but not: vendor/**/*, **/*_test.go, **/test/**/*, tests/**/*, local_test/**/*, examples/**/*
  zdx: any of: zscaler/zdx/, but not: vendor/**/*, **/*_test.go, **/test/**/*, tests/**/*, local_test/**/*, examples/**/*
  zcc: any of: zscaler/zcc/, but not: vendor/**/*, **/*_test.go, **/test/**/*, tests/**/*, local_test/**/*, examples/**/*
  ztw: any of: zscaler/ztw/, but not: vendor/**/*, **/*_test.go, **/test/**/*, tests/**/*, local_test/**/*, examples/**/*
  zidentity: any of: zscaler/zidentity/, but not: vendor/**/*, **/*_test.go, **/test/**/*, tests/**/*, local_test/**/*, examples/**/*
