Repository zscaler/zscaler-sdk-go: changes, and which Codecov flags are due for each by the changed paths.
All: unit, unit-zpa, unit-zia, unit-zdx, unit-zcc, unit-ztw, unit-zwa, unit-zidentity, unit-oneapi, zia, zpa, zdx, zcc, ztw, zidentity

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml
#
# Codecov AI (Beta) - Requires GitHub App installation
# Install: https://github.com/apps/codecov-ai
# Commands available in PR comments:
#   @codecov-ai-reviewer test   - Generate tests for uncovered code
#   @codecov-ai-reviewer review - Review PR and provide suggestions

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
        only_pulls: false
      # Unit test coverage - primary coverage metric
      unit:
        target: 80%
        threshold: 2%
        flags:
          - unit
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
        only_pulls: false
      unit:
        target: 70%
        flags:
          - unit

parsers:
  go:
    partials_as_hits: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Coverage flags for different test types
flags:
  # Unit test flags (primary - these are used for coverage calculation)
  unit:
    paths:
      - zscaler/
    carryforward: true

  unit-zpa:
    paths:
      - zscaler/zpa/
    carryforward: true

  unit-zia:
    paths:
      - zscaler/zia/
    carryforward: true

  unit-zdx:
    paths:
      - zscaler/zdx/
    carryforward: true

  unit-zcc:
    paths:
      - zscaler/zcc/
    carryforward: true

  unit-ztw:
    paths:
      - zscaler/ztw/
    carryforward: true

  unit-zwa:
    paths:
      - zscaler/zwa/
    carryforward: true

  unit-zidentity:
    paths:
      - zscaler/zidentity/
    carryforward: true

  unit-oneapi:
    paths:
      - zscaler/
    carryforward: true

  # Integration test flags (secondary - run selectively)
  zia:
    paths:
      - zscaler/zia/
    carryforward: true

  zpa:
    paths:
      - zscaler/zpa/
    carryforward: true

  zdx:
    paths:
      - zscaler/zdx/
    carryforward: true

  zcc:
    paths:
      - zscaler/zcc/
    carryforward: true

  ztw:
    paths:
      - zscaler/ztw/
    carryforward: true

  zidentity:
    paths:
      - zscaler/zidentity/
    carryforward: true

ignore:
  - "vendor/**/*"
  - "**/*_test.go"
  - "**/test/**/*"
  - "tests/**/*"
  - "local_test/**/*"
  - "examples/**/*"

feat: Added New ZCC MA V2 API Endpoints
  tests/unit/zcc/services/notification_template_test.go
  tests/unit/zcc/services/trusted_network_v2_test.go
  tests/unit/zcc/services/zia_posture_test.go
  zscaler/zcc/services/web_policy/web_policy.go
Due: unit, unit-zcc, unit-oneapi, zcc

feat: Added New ZCC MA V2 API Endpoints (#434)
  CHANGELOG.md
  CLAUDE.md
  docs/guides/release-notes.md
  tests/unit/zcc/services/notification_template_test.go
  tests/unit/zcc/services/trusted_network_v2_test.go
  tests/unit/zcc/services/web_policy_test.go
  tests/unit/zcc/services/zia_posture_test.go
  zscaler/zcc/services/common/common.go
  zscaler/zcc/services/notification_template/notification_template.go
  zscaler/zcc/services/notification_template/notification_template_test.go
  zscaler/zcc/services/trusted_network_v2/trusted_network_v2.go
  zscaler/zcc/services/trusted_network_v2/trusted_network_v2_test.go
  zscaler/zcc/services/web_policy/defaults.go
  zscaler/zcc/services/web_policy/web_policy.go
  zscaler/zcc/services/zia_posture/zia_posture.go
  zscaler/zcc/services/zia_posture/zia_posture_test.go
Due: unit, unit-zcc, unit-oneapi, zcc

feat: Added new v2 ZCC and ZIA Secure Browsing Endpoints
  CHANGELOG.md
  docs/guides/release-notes.md
  tests/unit/common/mocks.go
  tests/unit/zcc/services/admin_users_test.go
  tests/unit/zia/services/urlfiltering_test.go
  zscaler/zcc/services/admin_users/admin_users.go
  zscaler/zcc/services/forwarding_profile/forwarding_profile.go
  zscaler/zcc/services/web_policy/defaults.go
  zscaler/zcc/services/web_policy/web_policy.go
  zscaler/zia/services/common/common.go
  zscaler/zia/services/secure_browsing/secure_browsing.go
  zscaler/zia/services/secure_browsing/secure_browsing_test.go
  zscaler/zia/services/urlfilteringpolicies/url_filtering_rules_test.go
  zscaler/zia/services/urlfilteringpolicies/urlfilteringpolicies.go
Due: unit, unit-zia, unit-zcc, unit-oneapi, zia, zcc

chore: Updated CHANGELOG.md and release-notes.md
  CHANGELOG.md
  docs/guides/release-notes.md
Due: none

fix: Fixed zcc test workflow
  .github/workflows/zcc-test.yml
Due: none

feat: Added new v2 ZCC and ZIA Secure Browsing Endpoints (#435)
  .github/workflows/zcc-test.yml
  CHANGELOG.md
  docs/guides/release-notes.md
  tests/unit/common/mocks.go
  tests/unit/zcc/services/admin_users_test.go
  tests/unit/zia/services/urlfiltering_test.go
  zscaler/zcc/services/admin_users/admin_users.go
  zscaler/zcc/services/forwarding_profile/forwarding_profile.go
  zscaler/zcc/services/web_policy/defaults.go
  zscaler/zcc/services/web_policy/web_policy.go
  zscaler/zia/services/common/common.go
  zscaler/zia/services/secure_browsing/secure_browsing.go
  zscaler/zia/services/secure_browsing/secure_browsing_test.go
  zscaler/zia/services/urlfilteringpolicies/url_filtering_rules_test.go
  zscaler/zia/services/urlfilteringpolicies/urlfilteringpolicies.go
Due: unit, unit-zia, unit-zcc, unit-oneapi, zia, zcc

fix: Correct ZIA partner integrations, SMPC instance, Votiro CDR, HTTP header control, and webhook test endpoints
  CHANGELOG.md
  README.md
  docs/guides/release-notes.md
  go.mod
  go.sum
  tests/unit/zia/services/adaptive_access_test.go
  tests/unit/zia/services/devices_test.go
  tests/unit/zia/services/dlp_global_options_test.go
  zscaler/oneapiclient.go
  zscaler/oneapiclient_test.go
  zscaler/zia/services/adaptive_access/adaptive_access.go
  zscaler/zia/services/adaptive_access/adaptive_access_test.go
  zscaler/zia/services/common/common.go
  zscaler/zia/services/devices/devices.go
  zscaler/zia/services/devices/devices_test.go
  zscaler/zia/services/dlp/dlp_global_options/dlp_global_options.go
  zscaler/zia/services/dlp/dlp_global_options/dlp_global_options_test.go
  zscaler/zia/services/http_header_control/http_header_action_profile/http_header_action_profile.go
  zscaler/zia/services/http_header_control/http_header_profile/http_header_control.go
  zscaler/zia/services/partner_integrations/partner_integrations.go
  zscaler/zia/services/security_ueba_alerts/alert_configurations/alert_configurations.go
  zscaler/zia/services/security_ueba_alerts/alert_definitions/alert_definitions.go
  zscaler/zia/services/security_ueba_alerts/ueba_rules/ueba_rules.go
  zscaler/zia/services/security_ueba_alerts/webhooks/webhooks.go
  zscaler/zia/services/smpc_instance/smpc_instance.go
  zscaler/zia/services/votiro_cdr/votiro_cdr.go
  zscaler/zpa/services/private_cloud_group/private_cloud_group.go
Due: unit, unit-zpa, unit-zia, unit-oneapi, zia, zpa

fix: Correct ZIA partner integrations, SMPC instance, Votiro CDR, HTTP header control, and webhook test endpoints (#438)
  CHANGELOG.md
  README.md
  docs/guides/release-notes.md
  go.mod
  go.sum
  tests/unit/zia/services/adaptive_access_test.go
  tests/unit/zia/services/devices_test.go
  tests/unit/zia/services/dlp_global_options_test.go
  zscaler/oneapiclient.go
  zscaler/oneapiclient_test.go
  zscaler/zia/services/adaptive_access/adaptive_access.go
  zscaler/zia/services/adaptive_access/adaptive_access_test.go
  zscaler/zia/services/common/common.go
  zscaler/zia/services/devices/devices.go
  zscaler/zia/services/devices/devices_test.go
  zscaler/zia/services/dlp/dlp_global_options/dlp_global_options.go
  zscaler/zia/services/dlp/dlp_global_options/dlp_global_options_test.go
  zscaler/zia/services/http_header_control/http_header_action_profile/http_header_action_profile.go
  zscaler/zia/services/http_header_control/http_header_profile/http_header_control.go
  zscaler/zia/services/partner_integrations/partner_integrations.go
  zscaler/zia/services/security_ueba_alerts/alert_configurations/alert_configurations.go
  zscaler/zia/services/security_ueba_alerts/alert_definitions/alert_definitions.go
  zscaler/zia/services/security_ueba_alerts/ueba_rules/ueba_rules.go
  zscaler/zia/services/security_ueba_alerts/webhooks/webhooks.go
  zscaler/zia/services/smpc_instance/smpc_instance.go
  zscaler/zia/services/votiro_cdr/votiro_cdr.go
  zscaler/zpa/services/private_cloud_group/private_cloud_group.go
Due: unit, unit-zpa, unit-zia, unit-oneapi, zia, zpa

fix: Added ZPA Private Cloud Resource Endpoints
  CHANGELOG.md
  docs/guides/release-notes.md
  tests/unit/zpa/services/privatecloud_test.go
  zscaler/zpa/services/private_cloud/private_cloud.go
  zscaler/zpa/services/private_cloud/private_cloud_test.go
Due: unit, unit-zpa, unit-oneapi, zpa

fix: Added ZPA Private Cloud Resource Endpoints (#439)
  CHANGELOG.md
  docs/guides/release-notes.md
  tests/unit/zpa/services/privatecloud_test.go
  zscaler/zpa/services/private_cloud/private_cloud.go
  zscaler/zpa/services/private_cloud/private_cloud_test.go
Due: unit, unit-zpa, unit-oneapi, zpa

fix: Fixed ZIA HTTP Header Control Struct attribute types
  CHANGELOG.md
  docs/guides/release-notes.md
  zscaler/zia/services/http_header_control/http_header_action_profile/http_header_action_profile.go
  zscaler/zia/services/http_header_control/http_header_profile/http_header_profile.go
  zscaler/zia/services/urlfilteringpolicies/urlfilteringpolicies.go
Due: unit, unit-zia, unit-oneapi, zia

fix: Fixed ZIA HTTP Header Control Struct attribute types (#441)
  CHANGELOG.md
  docs/guides/release-notes.md
  zscaler/zia/services/http_header_control/http_header_action_profile/http_header_action_profile.go
  zscaler/zia/services/http_header_control/http_header_profile/http_header_profile.go
  zscaler/zia/services/urlfilteringpolicies/urlfilteringpolicies.go
Due: unit, unit-zia, unit-oneapi, zia

fix: Add ZIA Endpoint DLP services and align related endpoints
  CHANGELOG.md
  docs/guides/release-notes.md
  go.mod
  go.sum
  tests/unit/zia/services/end_user_notification_test.go
  tests/unit/zia/services/endpoint_applications_test.go
  tests/unit/zia/services/endpoint_resource_channel_test.go
  tests/unit/zia/services/endpoint_resource_group_test.go
  zscaler/errorx/errors.go
  zscaler/errorx/errors_test.go
  zscaler/zia/services/common/common.go
  zscaler/zia/services/end_user_notification/end_user_notification.go
  zscaler/zia/services/endpoint_dlp/endpoint_application_groups/endpoint_application_groups.go
  zscaler/zia/services/endpoint_dlp/endpoint_applications/endpoint_applications.go
  zscaler/zia/services/endpoint_dlp/endpoint_custom_apps/endpoint_custom_apps.go
  zscaler/zia/services/endpoint_dlp/endpoint_dlp_rules/endpoint_dlp_rules.go
  zscaler/zia/services/endpoint_dlp/endpoint_dlp_sub_rules/endpoint_dlp_sub_rules.go
  zscaler/zia/services/endpoint_dlp/endpoint_resource/endpoint_resource.go
  zscaler/zia/services/endpoint_dlp/endpoint_resource_channel/endpoint_resource_channel.go
  zscaler/zia/services/endpoint_dlp/endpoint_resource_group/endpoint_resource_group.go
  zscaler/zia/services/endpoint_dlp/outbound_email_dlp/outbound_email_dlp.go
  zscaler/zia/services/firewalldnscontrolpolicies/firewalldnscontrolpolicies.go
  zscaler/zia/services/firewallpolicies/dns_application_groups/dns_application_groups.go
  zscaler/zia/services/firewallpolicies/dns_application_groups/dns_application_groups_test.go
  zscaler/zia/services/firewallpolicies/filteringrules/filteringrules.go
  zscaler/zia/services/ips_control_policies/ips_signature_rules/ips_signature_rules.go
  zscaler/zia/services/sslinspection/sslinspection.go
  zscaler/zia/services/urlfilteringpolicies/urlfilteringpolicies.go
Due: unit, unit-zia, unit-oneapi, zia

fix: Fixed GetCustomApp unit test
  tests/unit/zia/services/endpoint_applications_test.go
Due: none

chore: Fixed ZIA Unit Tests to increase coverage
  tests/unit/zia/services/common_test.go
  tests/unit/zia/services/endpoint_applications_test.go
  tests/unit/zia/services/endpoint_resource_group_test.go
  tests/unit/zia/services/endpoint_resource_test.go
Due: none

chore: Fixed ZIA Unit Tests to increase coverage
  tests/unit/zia/services/ips_signature_rules_test.go
  zscaler/errorx/errors_test.go
Due: none

fix: Add ZIA Endpoint DLP services and align related endpoints (#445)
  CHANGELOG.md
  docs/guides/release-notes.md
  go.mod
  go.sum
  tests/unit/zia/services/common_test.go
  tests/unit/zia/services/end_user_notification_test.go
  tests/unit/zia/services/endpoint_applications_test.go
  tests/unit/zia/services/endpoint_resource_channel_test.go
  tests/unit/zia/services/endpoint_resource_group_test.go
  tests/unit/zia/services/endpoint_resource_test.go
  tests/unit/zia/services/ips_signature_rules_test.go
  zscaler/errorx/errors.go
  zscaler/errorx/errors_test.go
  zscaler/zia/services/common/common.go
  zscaler/zia/services/end_user_notification/end_user_notification.go
  zscaler/zia/services/endpoint_dlp/endpoint_application_groups/endpoint_application_groups.go
  zscaler/zia/services/endpoint_dlp/endpoint_applications/endpoint_applications.go
  zscaler/zia/services/endpoint_dlp/endpoint_custom_apps/endpoint_custom_apps.go
  zscaler/zia/services/endpoint_dlp/endpoint_dlp_rules/endpoint_dlp_rules.go
  zscaler/zia/services/endpoint_dlp/endpoint_dlp_sub_rules/endpoint_dlp_sub_rules.go
  zscaler/zia/services/endpoint_dlp/endpoint_resource/endpoint_resource.go
  zscaler/zia/services/endpoint_dlp/endpoint_resource_channel/endpoint_resource_channel.go
  zscaler/zia/services/endpoint_dlp/endpoint_resource_group/endpoint_resource_group.go
  zscaler/zia/services/endpoint_dlp/outbound_email_dlp/outbound_email_dlp.go
  zscaler/zia/services/firewalldnscontrolpolicies/firewalldnscontrolpolicies.go
  zscaler/zia/services/firewallpolicies/dns_application_groups/dns_application_groups.go
  zscaler/zia/services/firewallpolicies/dns_application_groups/dns_application_groups_test.go
  zscaler/zia/services/firewallpolicies/filteringrules/filteringrules.go
  zscaler/zia/services/ips_control_policies/ips_signature_rules/ips_signature_rules.go
  zscaler/zia/services/sslinspection/sslinspection.go
  zscaler/zia/services/urlfilteringpolicies/urlfilteringpolicies.go
Due: unit, unit-zia, unit-oneapi, zia

fix: Removed tag from attribute boolean value on ZPA and
  CHANGELOG.md
  docs/guides/release-notes.md
  zscaler/zpa/services/applicationsegment/zpa_application_segment.go
  zscaler/zpa/services/applicationsegmentbrowseraccess/application_segment_browser_access.go
  zscaler/zpa/services/policysetcontrollerv2/policysetcontrollerv2.go
Due: unit, unit-zpa, unit-oneapi, zpa

fix: Removed tag from attribute boolean value on ZPA and
  zscaler/zpa/services/policysetcontroller/policysetcontroller.go
  zscaler/zpa/services/policysetcontrollerv2/policysetcontrollerv2.go
Due: unit, unit-zpa, unit-oneapi, zpa

fix: Removed `omitempty` tag from attribute boolean value `bypassOnReauth` on ZPA `applicationsegment` and `applicationsegmentbrowseraccess` (#446)
  CHANGELOG.md
  docs/guides/release-notes.md
  zscaler/zpa/services/applicationsegment/zpa_application_segment.go
  zscaler/zpa/services/applicationsegmentbrowseraccess/application_segment_browser_access.go
  zscaler/zpa/services/policysetcontroller/policysetcontroller.go
  zscaler/zpa/services/policysetcontrollerv2/policysetcontrollerv2.go
Due: unit, unit-zpa, unit-oneapi, zpa

restrict response retries and preserve exhausted responses
  zscaler/zia/v2_client.go
  zscaler/zia/v2_client_ratelimit_test.go
Due: unit, unit-zia, unit-oneapi, zia

fix: Preserve ZIA legacy API errors and stop retrying deterministic 5xx (#449)
  CHANGELOG.md
  CLAUDE.md
  docs/guides/release-notes.md
  zscaler/errorx/errors.go
  zscaler/errorx/errors_test.go
  zscaler/oneapiclient.go
  zscaler/zia/v2_client.go
  zscaler/zia/v2_client_retry_error_test.go
  zscaler/zia/v2_config.go
Due: unit, unit-zia, unit-oneapi, zia

fix: Preserve API errors and stop retrying deterministic 5xx in all clients (#449)
  CHANGELOG.md
  CLAUDE.md
  docs/guides/release-notes.md
  zscaler/oneapiconfig.go
  zscaler/oneapiconfig_retry_error_test.go
  zscaler/zcc/v2_client.go
  zscaler/zcc/v2_client_retry_error_test.go
  zscaler/zdx/v2_client.go
  zscaler/zdx/v2_client_retry_error_test.go
  zscaler/zpa/v2_client.go
  zscaler/zpa/v2_client_retry_error_test.go
  zscaler/ztw/v2_client.go
  zscaler/ztw/v2_client_retry_error_test.go
  zscaler/zwa/v2_client.go
  zscaler/zwa/v2_client_retry_error_test.go
Due: unit, unit-zpa, unit-zdx, unit-zcc, unit-ztw, unit-zwa, unit-oneapi, zpa, zdx, zcc, ztw

docs: Correct Go version in 3.8.43 release notes to match go.mod
  CHANGELOG.md
  docs/guides/release-notes.md
Due: none

fix: Correct govus FedRAMP token endpoint in docs and fix two stale tests
  CHANGELOG.md
  README.md
  docs/guides/release-notes.md
  zscaler/oneapiclient_test.go
Due: none

fix: Close four gaps in the #449 retry and error-preservation fix (#449)
  CHANGELOG.md
  CLAUDE.md
  docs/guides/release-notes.md
  zscaler/errorx/errors.go
  zscaler/errorx/errors_test.go
  zscaler/oneapiconfig.go
  zscaler/oneapiconfig_retry_error_test.go
  zscaler/zcc/v2_client.go
  zscaler/zcc/v2_client_retry_error_test.go
  zscaler/zdx/v2_client.go
  zscaler/zdx/v2_client_retry_error_test.go
  zscaler/zia/v2_client.go
  zscaler/zia/v2_client_retry_error_test.go
  zscaler/zia/v2_config.go
  zscaler/zpa/v2_client.go
  zscaler/zpa/v2_client_retry_error_test.go
  zscaler/ztw/v2_client.go
  zscaler/ztw/v2_client_retry_error_test.go
  zscaler/zwa/v2_client.go
  zscaler/zwa/v2_client_retry_error_test.go
Due: unit, unit-zpa, unit-zia, unit-zdx, unit-zcc, unit-ztw, unit-zwa, unit-oneapi, zia, zpa, zdx, zcc, ztw

docs: Document the nil-body guard and test-wiring correction for 3.8.43
  CHANGELOG.md
  docs/guides/release-notes.md
Due: none

docs: State that this repository does not accept pull requests
  .github/ISSUE_TEMPLATE/config.yml
  .github/pull_request_template.md
  CONTRIBUTING.md
  README.md
Due: none

fix: Preserve API errors and stop retrying deterministic 5xx across all clients (#449) (#450)
  .github/ISSUE_TEMPLATE/config.yml
  .github/pull_request_template.md
  CHANGELOG.md
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docs/guides/release-notes.md
  zscaler/errorx/errors.go
  zscaler/errorx/errors_test.go
  zscaler/oneapiclient.go
  zscaler/oneapiclient_test.go
  zscaler/oneapiconfig.go
  zscaler/oneapiconfig_retry_error_test.go
  zscaler/zcc/v2_client.go
  zscaler/zcc/v2_client_retry_error_test.go
  zscaler/zdx/v2_client.go
  zscaler/zdx/v2_client_retry_error_test.go
  zscaler/zia/v2_client.go
  zscaler/zia/v2_client_retry_error_test.go
  zscaler/zia/v2_config.go
  zscaler/zpa/v2_client.go
  zscaler/zpa/v2_client_retry_error_test.go
  zscaler/ztw/v2_client.go
  zscaler/ztw/v2_client_retry_error_test.go
  zscaler/zwa/v2_client.go
  zscaler/zwa/v2_client_retry_error_test.go
Due: unit, unit-zpa, unit-zia, unit-zdx, unit-zcc, unit-ztw, unit-zwa, unit-oneapi, zia, zpa, zdx, zcc, ztw

fix: Fixed mispelled attribute isWebEunEnabled in firewall dns control policies struct
  CHANGELOG.md
  docs/guides/release-notes.md
  zscaler/zia/services/firewalldnscontrolpolicies/firewalldnscontrolpolicies.go
Due: unit, unit-zia, unit-oneapi, zia

fix: Fixed mispelled attribute isWebEunEnabled in firewall dns control policies struct (#451)
  CHANGELOG.md
  docs/guides/release-notes.md
  zscaler/zia/services/firewalldnscontrolpolicies/firewalldnscontrolpolicies.go
Due: unit, unit-zia, unit-oneapi, zia

fix: Added New Attributes to ZIA URL Filtering and ZPA App Segments
  CHANGELOG.md
  docs/guides/release-notes.md
  zscaler/zia/services/urlfilteringpolicies/urlfilteringpolicies.go
  zscaler/zpa/services/applicationsegment/zpa_application_segment.go
  zscaler/zpa/services/applicationsegmentbrowseraccess/application_segment_browser_access.go
  zscaler/zpa/services/applicationsegmentinspection/zpa_application_segment_inspection.go
  zscaler/zpa/services/applicationsegmentpra/zpa_application_segment_pra.go
  zscaler/zpa/services/common/common.go
  zscaler/zpa/services/idpcontroller/zpa_idp_controller.go
Due: unit, unit-zpa, unit-zia, unit-oneapi, zia, zpa

fix: Added New Attributes to ZIA URL Filtering and ZPA App Segments (#452)
  CHANGELOG.md
  docs/guides/release-notes.md
  zscaler/zia/services/urlfilteringpolicies/urlfilteringpolicies.go
  zscaler/zpa/services/applicationsegment/zpa_application_segment.go
  zscaler/zpa/services/applicationsegmentbrowseraccess/application_segment_browser_access.go
  zscaler/zpa/services/applicationsegmentinspection/zpa_application_segment_inspection.go
  zscaler/zpa/services/applicationsegmentpra/zpa_application_segment_pra.go
  zscaler/zpa/services/common/common.go
  zscaler/zpa/services/idpcontroller/zpa_idp_controller.go
Due: unit, unit-zpa, unit-zia, unit-oneapi, zia, zpa

fix: Release v3.8.45
  .github/pull_request_template.md
Due: none

fix: Release v3.8.45
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
Due: none

fix: Added New ZIA Cloud App Control Endpoint allAvailableActions
  CHANGELOG.md
  docs/guides/release-notes.md
  zscaler/zia/services/cloudappcontrol/cloudappcontrol.go
  zscaler/zia/services/cloudappcontrol/cloudappcontrol_test.go
  zscaler/zia/services/pacfiles/pacfiles.go
Due: unit, unit-zia, unit-oneapi, zia

fix: Added New ZIA Cloud App Control Endpoint allAvailableActions
  tests/unit/zia/services/pacfiles_test.go
Due: none

fix: Added New ZIA Cloud App Control Endpoint allAvailableActions
  tests/unit/zia/services/cloudappcontrol_test.go
Due: none
