Repository zscaler/zscaler-sdk-go: changes, and which Codecov flags are due for each by the changed paths.
All: zia, zpa, zdx, zcc, ztw, zidentity

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
        only_pulls: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
        only_pulls: false

parsers:
  go:
    partials_as_hits: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  zia:
    paths:
      - zscaler/zia/
    carryforward: true
  zpa:
    paths:
      - zscaler/zpa/
    carryforward: true
  zdx:
    paths:
      - zscaler/zdx/
    carryforward: true
  zcc:
    paths:
      - zscaler/zcc/
    carryforward: true
  ztw:
    paths:
      - zscaler/ztw/
    carryforward: true
  zidentity:
    paths:
      - zscaler/zidentity/
    carryforward: true

ignore:
  - "vendor/**/*"
  - "**/*_test.go"
  - "**/test/**/*"
  - "tests/**/*"
  - "local_test/**/*"
  - "examples/**/*"

fix: Added several Unit tests for all product packages
  tests/unit/zdx/v2_client_test.go
  tests/unit/ztw/services/activation_test.go
  tests/unit/ztw/services/adminroles_test.go
  tests/unit/ztw/services/adminusers_test.go
  tests/unit/ztw/services/ecgroup_test.go
  tests/unit/ztw/services/forwarding_gateways_test.go
  tests/unit/ztw/services/location_test.go
  tests/unit/ztw/services/policy_management_test.go
  tests/unit/ztw/services/policyresources_test.go
  tests/unit/ztw/services/provisioning_test.go
  tests/unit/ztw/services/workload_groups_test.go
Due: none

fix: Added several Unit tests for all product packages
  tests/unit/zwa/services/common_test.go
  tests/unit/zwa/v2_config_test.go
Due: none

fix: Fixed ZTW Legacy Client environment variables
  CHANGELOG.md
  README.md
  docs/guides/release-notes.md
  go.mod
  go.sum
  zscaler/ztw/v2_client.go
  zscaler/ztw/v2_config.go
Due: ztw

fix: Fixed ZTW Legacy Client environment variables (#398)
  CHANGELOG.md
  README.md
  docs/guides/release-notes.md
  go.mod
  go.sum
  zscaler/ztw/v2_client.go
  zscaler/ztw/v2_config.go
Due: ztw

Fixed function in forwarding_rules ztw package to support new optional parameters.
  CHANGELOG.md
  docs/guides/release-notes.md
  zscaler/ztw/services/policy_management/forwarding_rules/forwarding_rules.go
Due: ztw

Fixed function in forwarding_rules ztw package to support new optional parameters. (#400)
  CHANGELOG.md
  docs/guides/release-notes.md
  zscaler/ztw/services/policy_management/forwarding_rules/forwarding_rules.go
Due: ztw

fix: Removed unsupported pagination parameters for zia ssl_inspection_rule
  CHANGELOG.md
  docs/guides/release-notes.md
  zscaler/zia/services/sslinspection/sslinspection.go
Due: zia

fix: Removed unsupported pagination parameters for zia ssl_inspection_rule (#401)
  CHANGELOG.md
  docs/guides/release-notes.md
  zscaler/zia/services/sslinspection/sslinspection.go
Due: zia

fix: Added New URL Categories attributes and App Segments
  CHANGELOG.md
  go.mod
  go.sum
  tests/unit/zpa/services/oauth2user_test.go
  zscaler/zia/services/urlcategories/urlcategories.go
  zscaler/zpa/services/appconnectorgroup/zpa_app_connector_group.go
  zscaler/zpa/services/applicationsegment/zpa_application_segment.go
  zscaler/zpa/services/oauth2_user/oauth2_user.go
  zscaler/zpa/services/serviceedgegroup/zpa_service_edge_group.go
Due: zia, zpa

fix: Added New URL Categories attributes and App Segments
  docs/guides/release-notes.md
Due: none

Fixed ZPA Oauth2 test
  tests/unit/zpa/services/oauth2user_test.go
Due: none

Zia #403 fix url category and app segment (#403)
  CHANGELOG.md
  docs/guides/release-notes.md
  go.mod
  go.sum
  tests/unit/zpa/services/oauth2user_test.go
  zscaler/zia/services/urlcategories/urlcategories.go
  zscaler/zpa/services/appconnectorgroup/zpa_app_connector_group.go
  zscaler/zpa/services/applicationsegment/zpa_application_segment.go
  zscaler/zpa/services/oauth2_user/oauth2_user.go
  zscaler/zpa/services/serviceedgegroup/zpa_service_edge_group.go
Due: zia, zpa

fix: Added New Attributes to ZIA ipscontrolpolicies and firewalldnscontrolpolicies
  CHANGELOG.md
  docs/guides/release-notes.md
  go.mod
  go.sum
  zscaler/zia/services/firewalldnscontrolpolicies/firewalldnscontrolpolicies.go
  zscaler/zia/services/firewallipscontrolpolicies/ipscontrolpolicies.go
Due: zia

fix: Added New Attributes to ZIA ipscontrolpolicies and firewalldnscontrolpolicies (#405)
  CHANGELOG.md
  docs/guides/release-notes.md
  go.mod
  go.sum
  zscaler/zia/services/firewalldnscontrolpolicies/firewalldnscontrolpolicies.go
  zscaler/zia/services/firewallipscontrolpolicies/ipscontrolpolicies.go
Due: zia

doc: Updated changelog
  CHANGELOG.md
Due: none

fix: Added New Attributes and Fixes
  CHANGELOG.md
  docs/guides/release-notes.md
  zscaler/zia/services/dlp/dlp_web_rules/dlp_web_rules.go
  zscaler/zia/services/firewallipscontrolpolicies/ipscontrolpolicies.go
  zscaler/zia/services/trafficforwarding/dc_exclusions/dc_exclusions.go
  zscaler/zia/services/trafficforwarding/extranet/extranet.go
  zscaler/zia/services/trafficforwarding/sub_clouds/sub_clouds.go
  zscaler/zpa/services/applicationsegmentbrowseraccess/application_segment_browser_access.go
  zscaler/zpa/services/applicationsegmentinspection/zpa_application_segment_inspection.go
  zscaler/zpa/services/applicationsegmentpra/zpa_application_segment_pra.go
Due: zia, zpa

fix: Added New Attributes and Fixes (#406)
  CHANGELOG.md
  docs/guides/release-notes.md
  zscaler/zia/services/dlp/dlp_web_rules/dlp_web_rules.go
  zscaler/zia/services/firewallipscontrolpolicies/ipscontrolpolicies.go
  zscaler/zia/services/trafficforwarding/dc_exclusions/dc_exclusions.go
  zscaler/zia/services/trafficforwarding/extranet/extranet.go
  zscaler/zia/services/trafficforwarding/sub_clouds/sub_clouds.go
  zscaler/zpa/services/applicationsegmentbrowseraccess/application_segment_browser_access.go
  zscaler/zpa/services/applicationsegmentinspection/zpa_application_segment_inspection.go
  zscaler/zpa/services/applicationsegmentpra/zpa_application_segment_pra.go
Due: zia, zpa

fix: Fixed function in ZIA
  CHANGELOG.md
  docs/guides/release-notes.md
  zscaler/zia/services/urlcategories/urlcategories.go
  zscaler/zia/services/urlfilteringpolicies/urlfilteringpolicies.go
Due: zia

fix: Fixed function in ZIA
  CHANGELOG.md
  docs/guides/release-notes.md
  go.mod
  go.sum
Due: none

fix: Fixed function in ZIA
  tests/unit/zia/services/urlfiltering_test.go
Due: none

fix: Fixed `GET` function in ZIA `urlfilteringpolicies` (#408)
  CHANGELOG.md
  docs/guides/release-notes.md
  go.mod
  go.sum
  tests/unit/zia/services/urlfiltering_test.go
  zscaler/zia/services/urlcategories/urlcategories.go
  zscaler/zia/services/urlfilteringpolicies/urlfilteringpolicies.go
Due: zia

fix: Fixed Bigcache initialization to use NopCache
  CHANGELOG.md
  zscaler/oneapiclient.go
  zscaler/zia/v2_client.go
  zscaler/zia/v2_config.go
  zscaler/zpa/v2_config.go
  zscaler/ztw/v2_client.go
  zscaler/ztw/v2_config.go
Due: zia, zpa, ztw

fix: Fixed Bigcache initialization to use NopCache
  docs/guides/release-notes.md
Due: none

fix: Fixed Bigcache initialization to use NopCache (#409)
  CHANGELOG.md
  docs/guides/release-notes.md
  zscaler/oneapiclient.go
  zscaler/zia/v2_client.go
  zscaler/zia/v2_config.go
  zscaler/zpa/v2_config.go
  zscaler/ztw/v2_client.go
  zscaler/ztw/v2_config.go
Due: zia, zpa, ztw

fix: Added automatic retry for 412 Precondition Failed responses
  CHANGELOG.md
  docs/guides/release-notes.md
  tests/unit/zpa/v2_client_test.go
  zscaler/errorx/errors.go
  zscaler/oneapiclient.go
  zscaler/oneapiconfig.go
Due: none

fix: Added automatic retry for 412 Precondition Failed responses (#410)
  CHANGELOG.md
  docs/guides/release-notes.md
  tests/unit/zpa/v2_client_test.go
  zscaler/errorx/errors.go
  zscaler/oneapiclient.go
  zscaler/oneapiconfig.go
Due: none

fix: Relaxed ZIA and ZTW client-side rate limiter
  CHANGELOG.md
  docs/guides/release-notes.md
  zscaler/errorx/errors.go
  zscaler/oneapiclient.go
  zscaler/oneapiconfig.go
  zscaler/zia/v2_client.go
  zscaler/zia/v2_config.go
  zscaler/ztw/v2_client.go
  zscaler/ztw/v2_config.go
Due: zia, ztw

fix: Relaxed ZIA and ZTW client-side rate limiter
  zscaler/zia/services/firewallpolicies/ipsourcegroups/ipsourcegroups.go
Due: zia

fix: Added rate limiting unit tests
  ratelimiter/limiter_test.go
  zscaler/errorx/errors_test.go
  zscaler/zia/v2_client_ratelimit_test.go
  zscaler/ztw/v2_client_ratelimit_test.go
Due: none

fix: Added rate limiting unit tests
  tests/unit/zdx/v2_client_test.go
Due: none

fix: Relaxed ZIA and ZTW client-side rate limiter (#411)
  CHANGELOG.md
  docs/guides/release-notes.md
  ratelimiter/limiter_test.go
  tests/unit/zdx/v2_client_test.go
  zscaler/errorx/errors.go
  zscaler/errorx/errors_test.go
  zscaler/oneapiclient.go
  zscaler/oneapiconfig.go
  zscaler/zia/services/firewallpolicies/ipsourcegroups/ipsourcegroups.go
  zscaler/zia/v2_client.go
  zscaler/zia/v2_client_ratelimit_test.go
  zscaler/zia/v2_config.go
  zscaler/ztw/v2_client.go
  zscaler/ztw/v2_client_ratelimit_test.go
  zscaler/ztw/v2_config.go
Due: zia, ztw

fix: Added New Sandbox Settings Payload Format Support and Location Management attribute
  CHANGELOG.md
  docs/guides/release-notes.md
  zscaler/zia/services/location/locationmanagement/locationmanagement.go
  zscaler/zia/services/sandbox/sandbox_settings/sandbox_settings.go
Due: zia

fix: Added New Sandbox Settings Payload Format Support and Location Management attribute (#412)
  CHANGELOG.md
  docs/guides/release-notes.md
  zscaler/zia/services/location/locationmanagement/locationmanagement.go
  zscaler/zia/services/sandbox/sandbox_settings/sandbox_settings.go
Due: zia

fix: Fixed ZIA Legacy Client v2_client to reuse cached JSESSIONID
  CHANGELOG.md
  docs/guides/release-notes.md
  junit.xml
  zscaler/zia/v2_client.go
  zscaler/zia/v2_config.go
Due: zia

fix: Fixed ZIA Legacy Client v2_client to reuse cached JSESSIONID (#413)
  CHANGELOG.md
  docs/guides/release-notes.md
  junit.xml
  zscaler/zia/v2_client.go
  zscaler/zia/v2_config.go
Due: zia

fix: Added new ZIA API endpoints
  .gitignore
  CHANGELOG.md
  docs/guides/release-notes.md
  go.mod
  go.sum
  tests/unit/zid/services/common_test.go
  tests/unit/zid/services/groups_test.go
  tests/unit/zid/services/resource_servers_test.go
  tests/unit/zid/services/user_entitlement_test.go
  tests/unit/zid/services/users_test.go
  zscaler/oneapiclient.go
  zscaler/zia/services/email_profiles/email_profiles.go
  zscaler/zia/services/email_profiles/email_profiles_test.go
  zscaler/zia/sweep/main_test.go
  zscaler/zid/services/common/common.go
  zscaler/zid/services/groups/groups.go
  zscaler/zid/services/groups/groups_test.go
  zscaler/zid/services/resource_servers/resource_servers.go
  zscaler/zid/services/user_entitlement/user_entitlement.go
  zscaler/zid/services/users/users.go
  zscaler/zid/sweep/main_test.go
  zscaler/ztw/services/dns_gateway/dns_gateway.go
  zscaler/ztw/services/dns_gateway/dns_gateway_test.go
Due: zia, ztw

fix: Added new ZIA API endpoints
  CHANGELOG.md
  docs/guides/release-notes.md
  tests/unit/zid/services/common_test.go
  tests/unit/zid/services/groups_test.go
  tests/unit/zid/services/resource_servers_test.go
  tests/unit/zid/services/user_entitlement_test.go
  tests/unit/zid/services/users_test.go
  zscaler/zid/services/groups/groups.go
  zscaler/zid/services/resource_servers/resource_servers.go
  zscaler/zid/services/user_entitlement/user_entitlement.go
  zscaler/zid/services/users/users.go
  zscaler/zid/sweep/main_test.go
Due: none

fix: Added new ZIA API endpoints
  .github/workflows/zid.yml
  Makefile
Due: none

fix: Added new ZIA API endpoints (#415)
  .github/workflows/zid.yml
  .gitignore
  CHANGELOG.md
  Makefile
  docs/guides/release-notes.md
  go.mod
  go.sum
  tests/unit/zid/services/common_test.go
  tests/unit/zid/services/groups_test.go
  tests/unit/zid/services/resource_servers_test.go
  tests/unit/zid/services/user_entitlement_test.go
  tests/unit/zid/services/users_test.go
  zscaler/oneapiclient.go
  zscaler/zia/services/email_profiles/email_profiles.go
  zscaler/zia/services/email_profiles/email_profiles_test.go
  zscaler/zia/sweep/main_test.go
  zscaler/zid/services/common/common.go
  zscaler/zid/services/groups/groups.go
  zscaler/zid/services/groups/groups_test.go
  zscaler/zid/services/resource_servers/resource_servers.go
  zscaler/zid/services/user_entitlement/user_entitlement.go
  zscaler/zid/services/users/users.go
  zscaler/zid/sweep/main_test.go
  zscaler/ztw/services/dns_gateway/dns_gateway.go
  zscaler/ztw/services/dns_gateway/dns_gateway_test.go
Due: zia, ztw
