Repository zscaler/zscaler-sdk-go: changes, and which Codecov flags are due for each by the changed paths.
All: unit, unit-zpa, unit-zia, unit-zdx, unit-zcc, unit-ztw, unit-zwa, unit-zidentity, unit-oneapi, zia, zpa, zdx, zcc, ztw, zidentity

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml
#
# Codecov AI (Beta) - Requires GitHub App installation
# Install: https://github.com/apps/codecov-ai
# Commands available in PR comments:
#   @codecov-ai-reviewer test   - Generate tests for uncovered code
#   @codecov-ai-reviewer review - Review PR and provide suggestions

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: false
        only_pulls: false
      # Unit test coverage - primary coverage metric
      unit:
        target: 80%
        threshold: 2%
        flags:
          - unit
        informational: false
    patch:
      default:
        target: auto
        threshold: 1%
        informational: false
        only_pulls: false
      unit:
        target: 70%
        flags:
          - unit

parsers:
  go:
    partials_as_hits: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Coverage flags for different test types
flags:
  # Unit test flags (primary - these are used for coverage calculation)
  unit:
    paths:
      - zscaler/
    carryforward: true

  unit-zpa:
    paths:
      - zscaler/zpa/
    carryforward: true

  unit-zia:
    paths:
      - zscaler/zia/
    carryforward: true

  unit-zdx:
    paths:
      - zscaler/zdx/
    carryforward: true

  unit-zcc:
    paths:
      - zscaler/zcc/
    carryforward: true

  unit-ztw:
    paths:
      - zscaler/ztw/
    carryforward: true

  unit-zwa:
    paths:
      - zscaler/zwa/
    carryforward: true

  unit-zidentity:
    paths:
      - zscaler/zidentity/
    carryforward: true

  unit-oneapi:
    paths:
      - zscaler/
    carryforward: true

  # Integration test flags (secondary - run selectively)
  zia:
    paths:
      - zscaler/zia/
    carryforward: true

  zpa:
    paths:
      - zscaler/zpa/
    carryforward: true

  zdx:
    paths:
      - zscaler/zdx/
    carryforward: true

  zcc:
    paths:
      - zscaler/zcc/
    carryforward: true

  ztw:
    paths:
      - zscaler/ztw/
    carryforward: true

  zidentity:
    paths:
      - zscaler/zidentity/
    carryforward: true

ignore:
  - "vendor/**/*"
  - "**/*_test.go"
  - "**/test/**/*"
  - "tests/**/*"
  - "local_test/**/*"
  - "examples/**/*"

fix: Added new AI specific attributes to ZIA URLAdvancedPolicySettings
  CHANGELOG.md
  docs/guides/release-notes.md
  zscaler/zia/services/urlfilteringpolicies/urlfilteringpolicies.go
Due: unit, unit-zia, unit-oneapi, zia

fix: Added new AI specific attributes to ZIA URLAdvancedPolicySettings (#416)
  CHANGELOG.md
  docs/guides/release-notes.md
  zscaler/zia/services/urlfilteringpolicies/urlfilteringpolicies.go
Due: unit, unit-zia, unit-oneapi, zia

fix: Added New ZPA Tag Controller Resource Endpoints
  CHANGELOG.md
  docs/guides/release-notes.md
  tests/unit/zpa/services/taggroup_test.go
  tests/unit/zpa/services/tagkey_test.go
  tests/unit/zpa/services/tagnamespace_test.go
  zscaler/oneapiclient.go
  zscaler/zia/services/forwarding_control_policy/forwarding_rules/forwarding_rules.go
  zscaler/zia/services/forwarding_control_policy/proxy_gateways/proxy_gateways.go
  zscaler/zpa/services/common/common.go
  zscaler/zpa/services/microtenants/microtenants.go
  zscaler/zpa/services/tag_controller/tag_group/tag_group.go
  zscaler/zpa/services/tag_controller/tag_group/tag_group_test.go
  zscaler/zpa/services/tag_controller/tag_key/tag_key.go
  zscaler/zpa/services/tag_controller/tag_key/tag_key_test.go
  zscaler/zpa/services/tag_controller/tag_namespace/tag_namespace.go
  zscaler/zpa/services/tag_controller/tag_namespace/tag_namespace_test.go
Due: unit, unit-zpa, unit-zia, unit-oneapi, zia, zpa

fix: Added New ZPA Tag Controller Resource Endpoints (#417)
  CHANGELOG.md
  docs/guides/release-notes.md
  tests/unit/zpa/services/taggroup_test.go
  tests/unit/zpa/services/tagkey_test.go
  tests/unit/zpa/services/tagnamespace_test.go
  zscaler/oneapiclient.go
  zscaler/zia/services/forwarding_control_policy/forwarding_rules/forwarding_rules.go
  zscaler/zia/services/forwarding_control_policy/proxy_gateways/proxy_gateways.go
  zscaler/zpa/services/common/common.go
  zscaler/zpa/services/microtenants/microtenants.go
  zscaler/zpa/services/tag_controller/tag_group/tag_group.go
  zscaler/zpa/services/tag_controller/tag_group/tag_group_test.go
  zscaler/zpa/services/tag_controller/tag_key/tag_key.go
  zscaler/zpa/services/tag_controller/tag_key/tag_key_test.go
  zscaler/zpa/services/tag_controller/tag_namespace/tag_namespace.go
  zscaler/zpa/services/tag_controller/tag_namespace/tag_namespace_test.go
Due: unit, unit-zpa, unit-zia, unit-oneapi, zia, zpa

fix: Fixed ZPA Tag Management Controller resources and ZIA URL Filtering Rule CBI Profile block
  CHANGELOG.md
  docs/guides/release-notes.md
  go.mod
  go.sum
  tests/unit/zia/services/urlfiltering_test.go
  tests/unit/zpa/services/taggroup_test.go
  tests/unit/zpa/services/tagkey_test.go
  tests/unit/zpa/services/tagnamespace_test.go
  zscaler/zia/services/urlfilteringpolicies/url_filtering_rules_test.go
  zscaler/zia/services/urlfilteringpolicies/urlfilteringpolicies.go
  zscaler/zpa/services/common/common.go
  zscaler/zpa/services/tag_controller/tag_group/tag_group.go
  zscaler/zpa/services/tag_controller/tag_key/tag_key.go
  zscaler/zpa/services/tag_controller/tag_key/tag_key_test.go
  zscaler/zpa/services/tag_controller/tag_namespace/tag_namespace.go
  zscaler/zpa/services/tag_controller/tag_namespace/tag_namespace_test.go
Due: unit, unit-zpa, unit-zia, unit-oneapi, zia, zpa

fix: Fixed gotoolchain
  Makefile
Due: none

fix: Fixed go.mod
  go.mod
Due: none

fix: Fixed go.mod
  Makefile
Due: none

fix: Fixed go.mod
  .github/workflows/zcc-test.yml
  .github/workflows/zdx-test.yml
  .github/workflows/zia-test.yml
  .github/workflows/zid.yml
  .github/workflows/zpa-test.yml
  .github/workflows/ztw-test.yml
  Makefile
Due: none

fix: Fixed go.mod
  go.mod
  go.sum
Due: none

fix: Fixed ZPA Tag Management Controller resources and ZIA URL Filtering Rule CBI Profile block (#419)
  .github/workflows/zcc-test.yml
  .github/workflows/zdx-test.yml
  .github/workflows/zia-test.yml
  .github/workflows/zid.yml
  .github/workflows/zpa-test.yml
  .github/workflows/ztw-test.yml
  CHANGELOG.md
  docs/guides/release-notes.md
  tests/unit/zia/services/urlfiltering_test.go
  tests/unit/zpa/services/taggroup_test.go
  tests/unit/zpa/services/tagkey_test.go
  tests/unit/zpa/services/tagnamespace_test.go
  zscaler/zia/services/urlfilteringpolicies/url_filtering_rules_test.go
  zscaler/zia/services/urlfilteringpolicies/urlfilteringpolicies.go
  zscaler/zpa/services/common/common.go
  zscaler/zpa/services/tag_controller/tag_group/tag_group.go
  zscaler/zpa/services/tag_controller/tag_key/tag_key.go
  zscaler/zpa/services/tag_controller/tag_key/tag_key_test.go
  zscaler/zpa/services/tag_controller/tag_namespace/tag_namespace.go
  zscaler/zpa/services/tag_controller/tag_namespace/tag_namespace_test.go
Due: unit, unit-zpa, unit-zia, unit-oneapi, zia, zpa

fix: Included new ZIA Session Invalidation Name getAttributeNames
  CHANGELOG.md
  docs/guides/release-notes.md
  zscaler/errorx/errors.go
Due: unit, unit-oneapi

fix: Included new ZIA Session Invalidation Name getAttributeNames (#422)
  CHANGELOG.md
  docs/guides/release-notes.md
  zscaler/errorx/errors.go
Due: unit, unit-oneapi

fix: Fixed ZCC Functions and Structs and ZIA DLP Web Rules / Sub Rules Block
  CHANGELOG.md
  docs/guides/release-notes.md
  tests/unit/zcc/services/application_profiles_test.go
  tests/unit/zcc/services/custom_ip_apps_test.go
  tests/unit/zcc/services/devices_test.go
  tests/unit/zcc/services/download_devices_test.go
  tests/unit/zcc/services/forwarding_profile_test.go
  tests/unit/zcc/services/predefined_ip_apps_test.go
  tests/unit/zcc/services/process_based_apps_test.go
  tests/unit/zcc/services/trusted_network_test.go
  tests/unit/zcc/services/web_app_service_test.go
  tests/unit/zcc/services/web_policy_test.go
  zscaler/zcc/services/admin_roles/admin_roles.go
  zscaler/zcc/services/admin_users/admin_users.go
  zscaler/zcc/services/application_profiles/application_profiles.go
  zscaler/zcc/services/application_profiles/application_profiles_test.go
  zscaler/zcc/services/common/common.go
  zscaler/zcc/services/custom_ip_apps/custom_ip_apps.go
  zscaler/zcc/services/custom_ip_apps/custom_ip_apps_test.go
  zscaler/zcc/services/devices/devices.go
  zscaler/zcc/services/devices/devices_test.go
  zscaler/zcc/services/download_devices/download_devices.go
  zscaler/zcc/services/download_devices/download_devices_test.go
  zscaler/zcc/services/entitlements/entitlements.go
  zscaler/zcc/services/failopen_policy/failopen_policy.go
  zscaler/zcc/services/forwarding_profile/forwarding_profile.go
  zscaler/zcc/services/forwarding_profile/forwarding_profile_request.go
  zscaler/zcc/services/predefined_ip_apps/predefined_ip_apps.go
  zscaler/zcc/services/predefined_ip_apps/predefined_ip_apps_test.go
  zscaler/zcc/services/process_based_apps/process_based_apps.go
  zscaler/zcc/services/process_based_apps/process_based_apps_test.go
  zscaler/zcc/services/trusted_network/trusted_network.go
  zscaler/zcc/services/web_app_service/web_app_service.go
  zscaler/zcc/services/web_policy/web_policy.go
  zscaler/zia/services/dlp/dlp_web_rules/dlp_web_rules.go
  zscaler/zia/services/location/locationmanagement/locationmanagement.go
Due: unit, unit-zia, unit-zcc, unit-oneapi, zia, zcc

fix: Fixed ZCC Functions and Structs and ZIA DLP Web Rules / Sub Rules Block
  zscaler/zcc/services/secrets/getotp/get_otp_test.go
Due: none

fix: Fixed ZCC GET OTP Test
  tests/unit/zcc/services/devices_test.go
  zscaler/zcc/services/devices/devices.go
  zscaler/zcc/services/secrets/getotp/get_otp_test.go
Due: unit, unit-zcc, unit-oneapi, zcc

fix: Fixed ZCC GET OTP Test
  tests/unit/zcc/services/application_profiles_test.go
  zscaler/zcc/services/application_profiles/application_profiles.go
Due: unit, unit-zcc, unit-oneapi, zcc

fix: Fixed ZCC GET OTP Test
  zscaler/zcc/services/application_profiles/application_profiles_test.go
Due: none

fix: Fixed ZCC GET OTP Test
  .github/workflows/zcc-test.yml
  .github/workflows/zdx-test.yml
  .github/workflows/zia-test.yml
  .github/workflows/zid.yml
  .github/workflows/zpa-test.yml
  .github/workflows/ztw-test.yml
Due: none

fix: Upgraded to GO v1.25.x, Implemented ,local search via JMESPath
  CHANGELOG.md
  CLAUDE.md
  docs/guides/release-notes.md
  go.mod
  go.sum
  tests/unit/zcc/services/devices_test.go
  tests/unit/zcc/services/web_privacy_test.go
  zscaler/jmespath.go
  zscaler/jmespath_test.go
  zscaler/oneapiclient.go
  zscaler/zcc/services/common/common.go
  zscaler/zcc/services/devices/devices.go
  zscaler/zcc/services/failopen_policy/failopen_policy.go
  zscaler/zcc/services/forwarding_profile/forwarding_profile.go
  zscaler/zcc/services/forwarding_profile/forwarding_profile_request.go
  zscaler/zcc/services/web_privacy/web_privacy.go
  zscaler/zia/services/common/common.go
  zscaler/zid/services/common/common.go
  zscaler/zpa/services/common/common.go
  zscaler/ztw/services/common/common.go
  zscaler/zwa/services/common/common.go
Due: unit, unit-zpa, unit-zia, unit-zcc, unit-ztw, unit-zwa, unit-oneapi, zia, zpa, zcc, ztw

fix: Upgraded to GO v1.25.x, Implemented ,local search via JMESPath
  .github/workflows/zcc-test.yml
  .github/workflows/zdx-test.yml
  .github/workflows/zia-test.yml
  .github/workflows/zid.yml
  .github/workflows/zpa-test.yml
  .github/workflows/ztw-test.yml
Due: none

fix: Upgraded to GO v1.25.x, Implemented ,local search via JMESPath
  .github/workflows/release.yml
  .github/workflows/unit-tests.yml
  .github/workflows/zcc-test.yml
  .github/workflows/zdx-test.yml
  .github/workflows/zia-test.yml
  .github/workflows/zid.yml
  .github/workflows/zpa-test.yml
  .github/workflows/ztw-test.yml
Due: none

fix: Upgraded to GO v1.25.x, Implemented ,local search via JMESPath
  tests/unit/zcc/services/failopen_policy_test.go
Due: none

fix: Upgraded to GO v1.25.x, Implemented ,local search via JMESPath (#425)
  .github/workflows/release.yml
  .github/workflows/unit-tests.yml
  .github/workflows/zcc-test.yml
  .github/workflows/zdx-test.yml
  .github/workflows/zia-test.yml
  .github/workflows/zid.yml
  .github/workflows/zpa-test.yml
  .github/workflows/ztw-test.yml
  CHANGELOG.md
  CLAUDE.md
  docs/guides/release-notes.md
  go.mod
  go.sum
  tests/unit/zcc/services/devices_test.go
  tests/unit/zcc/services/failopen_policy_test.go
  tests/unit/zcc/services/web_privacy_test.go
  zscaler/jmespath.go
  zscaler/jmespath_test.go
  zscaler/oneapiclient.go
  zscaler/zcc/services/common/common.go
  zscaler/zcc/services/devices/devices.go
  zscaler/zcc/services/failopen_policy/failopen_policy.go
  zscaler/zcc/services/forwarding_profile/forwarding_profile.go
  zscaler/zcc/services/forwarding_profile/forwarding_profile_request.go
  zscaler/zcc/services/web_privacy/web_privacy.go
  zscaler/zia/services/common/common.go
  zscaler/zid/services/common/common.go
  zscaler/zpa/services/common/common.go
  zscaler/ztw/services/common/common.go
  zscaler/zwa/services/common/common.go
Due: unit, unit-zpa, unit-zia, unit-zcc, unit-ztw, unit-zwa, unit-oneapi, zia, zpa, zcc, ztw

fix: Fixed ZCC Web Policy Struct, Added New Field apiSessionTimeout to ZIA Advanced Settings
  CHANGELOG.md
  docs/guides/release-notes.md
  go.mod
  go.sum
  tests/unit/zcc/services/company_test.go
  tests/unit/zcc/services/web_policy_test.go
  zscaler/zcc/services/common/common.go
  zscaler/zcc/services/company/company.go
  zscaler/zcc/services/web_policy/web_policy.go
  zscaler/zia/services/advanced_settings/advanced_settings.go
Due: unit, unit-zia, unit-zcc, unit-oneapi, zia, zcc

chore: ignore all .log files
  .gitignore
Due: none

fix: Fixed ZCC Web Policy Struct, Added New Field apiSessionTimeout to ZIA Advanced Settings (#428)
  .gitignore
  CHANGELOG.md
  docs/guides/release-notes.md
  go.mod
  go.sum
  tests/unit/zcc/services/company_test.go
  tests/unit/zcc/services/web_policy_test.go
  zscaler/zcc/services/common/common.go
  zscaler/zcc/services/company/company.go
  zscaler/zcc/services/web_policy/web_policy.go
  zscaler/zia/services/advanced_settings/advanced_settings.go
Due: unit, unit-zia, unit-zcc, unit-oneapi, zia, zcc

Fixed Cache Manager Invalidation parent collection on non-GET requests.
  CHANGELOG.md
  docs/guides/release-notes.md
  zscaler/oneapiconfig.go
Due: unit, unit-oneapi

Fixed Cache Manager Invalidation parent collection on non-GET requests. (#429)
  CHANGELOG.md
  docs/guides/release-notes.md
  zscaler/oneapiconfig.go
Due: unit, unit-oneapi

fix: OneAPI Client Optimization and jitter to break parallel-goroutine stampedes against per-endpoint rate limiters
  CHANGELOG.md
  docs/guides/release-notes.md
  zscaler/oneapiconfig.go
Due: unit, unit-oneapi

fix: Fixed OneAPI config retry test
  zscaler/oneapiconfig_retry_test.go
Due: none

fix: OneAPI Client Optimization and jitter to break parallel-goroutine stampedes against per-endpoint rate limiters (#430)
  CHANGELOG.md
  docs/guides/release-notes.md
  zscaler/oneapiconfig.go
  zscaler/oneapiconfig_retry_test.go
Due: unit, unit-oneapi

feat: Added New ZIA IPS Signature Rules Endpoints
  CHANGELOG.md
  CLAUDE.md
  docs/guides/release-notes.md
  go.mod
  go.sum
  tests/unit/zia/services/firewalldns_test.go
  zscaler/zia/services/ips_control_policies/ips_policies/ips_policies.go
  zscaler/zia/services/ips_control_policies/ips_policies/ips_policies_test.go
  zscaler/zia/services/ips_control_policies/ips_signatures/ips_signatures.go
  zscaler/zia/services/ips_control_policies/ips_signatures/ips_signatures_test.go
  zscaler/zia/sweep/main_test.go
  zscaler/ziarequests.go
  zscaler/zpa/services/policysetcontroller/policysetcontroller.go
  zscaler/zpa/services/policysetcontrollerv2/policysetcontrollerv2.go
Due: unit, unit-zpa, unit-zia, unit-oneapi, zia, zpa

feat: Added New ZIA IPS Signature Rules Endpoints
  docs/guides/release-notes.md
Due: none

feat: Added New ZIA IPS Signature Rules Endpoints
  CLAUDE.md
  zscaler/zia/services/ips_control_policies/ips_signature_rules/ips_signature_rules.go
  zscaler/zia/services/ips_control_policies/ips_signature_rules/ips_signature_rules_test.go
  zscaler/ziarequests.go
Due: unit, unit-zia, unit-oneapi, zia

feat: Added New ZIA IPS Signature Rules Endpoints (#432)
  CHANGELOG.md
  CLAUDE.md
  docs/guides/release-notes.md
  go.mod
  go.sum
  tests/unit/zia/services/firewalldns_test.go
  zscaler/zia/services/ips_control_policies/ips_policies/ips_policies.go
  zscaler/zia/services/ips_control_policies/ips_policies/ips_policies_test.go
  zscaler/zia/services/ips_control_policies/ips_signature_rules/ips_signature_rules.go
  zscaler/zia/services/ips_control_policies/ips_signature_rules/ips_signature_rules_test.go
  zscaler/zia/sweep/main_test.go
  zscaler/ziarequests.go
  zscaler/zpa/services/policysetcontroller/policysetcontroller.go
  zscaler/zpa/services/policysetcontrollerv2/policysetcontrollerv2.go
Due: unit, unit-zpa, unit-zia, unit-oneapi, zia, zpa

Fixed ZTW GET function to proper unmashall API response.
  CHANGELOG.md
  docs/guides/release-notes.md
  zscaler/ztw/services/partner_integrations/account_groups/account_groups.go
Due: unit, unit-ztw, unit-oneapi, ztw

Fixed ZTW GET function to proper unmashall API response. (#433)
  CHANGELOG.md
  docs/guides/release-notes.md
  zscaler/ztw/services/partner_integrations/account_groups/account_groups.go
Due: unit, unit-ztw, unit-oneapi, ztw

feat: Added New ZCC MA V2 API Endpoints
  CHANGELOG.md
  CLAUDE.md
  docs/guides/release-notes.md
  tests/unit/zcc/services/web_policy_test.go
  zscaler/zcc/services/common/common.go
  zscaler/zcc/services/notification_template/notification_template.go
  zscaler/zcc/services/notification_template/notification_template_test.go
  zscaler/zcc/services/trusted_network_v2/trusted_network_v2.go
  zscaler/zcc/services/trusted_network_v2/trusted_network_v2_test.go
  zscaler/zcc/services/web_policy/defaults.go
  zscaler/zcc/services/web_policy/web_policy.go
  zscaler/zcc/services/zia_posture/zia_posture.go
  zscaler/zcc/services/zia_posture/zia_posture_test.go
Due: unit, unit-zcc, unit-oneapi, zcc
